<html>
    <head>
        <title>artskt's blog</title>
    </head>
    <body>
        <h1>Hi there!</h1>
        <h2>Welcome to my blog!</h2>
        <p>I made this using the Django Girls tutorial!</p>
        <p>I would like to thank everyone who helped my with my tutorial! :)</p>
	        <div>
		    <h1><a href="/">Ozymandias</a></h1>
		</div>

		{% for post in posts %}
		    <div>
		        <p>published: {{ post.published_date }}</p>
		        <h1><a href="">{{ post.title }}</a></h1>
		        <p>{{ post.text|linebreaks }}</p>
		    </div>
	{% endfor %}
    </body>
</html>